<!DOCTYPE html>
@using BloodLineV2.Models
@using BloodLineV2.ViewModels
@model IEnumerable<BloodLineV2.ViewModels.PatientDetailViewModel>

@{
    ViewBag.Title = "Details";
}

<html>
    <head>
        <title>UMMC Blood Transfusion Information System</title>
    </head>

    <body class="w3-light-grey">
        <!-- Top container -->
        <div class="w3-bar w3-black w3-large" style="z-index:4">
            <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
            <span class="w3-bar-item w3-right">UMMC Blood Transfusion Information System</span>
        </div>
    </body>
</html>



