@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Department of Transfusion Medicine<br />
    1st Floor, Menara Utama<br />
    <abbr title="Phone">P:</abbr>
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:#">Support@example.com</a><br />
    <strong>Information:</strong> <a href="mailto:#">Marketing@example.com</a>
</address>