@model IEnumerable<BloodLineV2.Models.BBSPATIENT>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BloodLine</h1>
    <p class="lead">Your portal to all about blood transfusion and managing your patient's blood needs .</p>
    <p><a href="Patient" class="btn btn-primary btn-lg">My patient &raquo;</a></p>
    <p><a href="Order" class="btn btn-primary btn-lg">My requests &raquo;</a></p>
</div>
<div class="container-fluid bg-info">
    <div class="row">
        <div class="col-md-4">
            <h2>Search</h2>
        </div>
        <div class="col-md-8">

         </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Learn about blood</h2>
        <p>
            Click here to get to know about blood transfusion: where it comes from, how it gets to you, and all the dos and the don'ts of transfusion.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Guidelines</h2>
        <p>Click here for local and international guidelines regarding blood transfusion.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Patient Blood Management (PBM)</h2>
        <p>Click here to learn more about what is PBM and how you can implement it in your practice.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>