body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Accordion*/
button.custaccordion {
    background-color: #EEE;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

    button.custaccordion.active, button.custaccordion:hover {
        background-color: #ddd;
    }

.custpanel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

.accordion {
    width: 100%;
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: none;
    font-size: 15px;
    transition: 0.4s;
}

    .active, .accordion:hover {
        background-color: #ccc;
    }

    .accordion:after {
        content: "\0028";
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

.active::after {
    content: "\2122";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion .accordion-head {
    color: #000000;
    background-color: #808080;
    border-bottom: 1px solid #fff;
    position: relative;
    padding: 13px;
    font-size: 0.87em;
    cursor: pointer;
    overflow: hidden;
}

    .accordion .accordion-head * {
        cursor: pointer;
    }

    .accordion .accordion-head h4 {
        float: left;
    }

    .accordion .accordion-head:hover {
        filter: alpha(opacity=60);
        opacity: 0.60;
    }

.accordion .accordion-body {
    border-bottom: 1px solid #fff;
    padding: 2px;
    height: auto;
    display: none;
}

.arrow {
    float: right;
    width: 0;
    height: 0;
    margin-top: 20px;
    border: 10px solid transparent;
    border-top-color: #F3F3F3;
}

.accordion-head.open .arrow {
    margin-top: 11px;
    border-bottom-color: #F3F3F3;
    border-top-color: transparent;
}

.result {
    display: none;
}

/*Shopping Cart*/
.button {
    padding: 6px;
    border-radius: 5px;
    display: inline-block;
    background: steelblue;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.add-to-cart {
    overflow: hidden;
    clear: both;
    margin-top: 2px;
}

/*Badge notification*/
.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

    .notification:hover {
        background: red;
    }

    .notification .badge {
        position: absolute;
        top: -10px;
        right: -10px;
        padding: 5px 10px;
        border-radius: 50%;
        background: red;
        color: white;
    }