
@{
    ViewBag.Title = "Guidelines for red cell transfusions";
    Layout = "~/Views/Shared/_Layout_Patient.cshtml";
}

    <!--Title card-->
<div class="card-group">
    <div class="col-md-4 mb-4">
        <div class="card h-100 bg-warning text-white">
            <img class="card-img" src="~/Content/images/rcsag.jpg" />
            <div class="card-body">
                <h1><b>Guidelines for red cell transfusions</b></h1>
            </div>
            <div class="card-footer">
                +
            </div>
        </div>
    </div>
    <!--Tissue oxygen delivery-->
    <div class="col-md-8 mb-4">
        <div class="card h-100 bg-info text-white">
            <div class="card-body">
                <h4 class="card-title">Tissue oxygen delivery (DO2)</h4>
                <div class="list-group list-group-flush" id="list-modifications">
                    <p>DO2 	= 	CO x CaO2</p>
                    <p>= CO x (1.39 x [Hb x TBV] x SaO2 + PaO2 x 0.003)</p>
                    <p>CO	Cardiac output (ml/min)</p>
                    <p>CaO2	Arterial oxygen content (ml)</p>
                    <p>Hb	Haemoglobin concentration (g/L)</p>
                    <p>TBV 	Total blood volume (L)</p>
                    <p>SaO2	Arterial oxygen saturation (%)</p>
                    <p>PaO2	Arterial partial pressure of oxygen (kPa)</p>
                </div>
                <h6 class="card-text"></h6>
            </div>
            <div class="card-footer">
                +
            </div>
        </div>
    </div>
</div>
<div class="card-group">
    <!--Remember-->
    <div class="col-md-3 mb-4">
        <div class="card h-100 bg-info text-white">
            <div class="card-body">
                <h4 class="card-title">Remember</h4>
                <h4 class="card-title"></h4>
                <h6 class="card-text">
                    Always transfuse the minimum number of red cells to achieve the expected outcome.
                    Red cell transfusions in non-bleeding inpatients should be ordered as single units
                </h6>
            </div>
            <div class="card-footer">
                +
            </div>
        </div>
    </div>
    <!--Information on process-->
    <div class="col-md-9 mb-4">
        <div class="card">
            <div class="card-header">
                When to transfuse red cells?
            </div>
            <div class="card-body">
                <h6 class="card-text">
                    The primary objective for transfusion of red cells is the need to increase oxygen delivery to crucial
                    tissues deficient of oxygen supply commensurate to their requirements.
                    Multiple factors influence tissue oxygen delivery. The decision to transfuse red cells
                    therefore cannot be based on a single haemoglobin reading alone but should take into account many
                    factors which include rate of blood loss or drop in haemoglobin level, patient’s
                    ability to tolerate the degree of anaemia, marrow reserve and capability to replenish red cells,
                    oxygen carrying capacity of patient’s haemoglobin and tissue oxygen delivery and extraction capacity.
                    Red cell transfusions should be guided by symptoms of anaemia and should not be based on haemoglobin
                    concentration alone.1
                </h6>
            </div>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card col-md-4 mb-4">
        <h2 class="card-header">Hospitalised, haemodynamically stable patient</h2>
        <div class="card-body">
            <ol>
                <li>Adhere to a restrictive transfusion strategy</li>
                <li>Adult and paediatric patients, including in ICU: Transfuse if Hb < 70 g/L 4,5</li>
                <li>Postoperative surgical patients: Transfuse if Hb < 80/g or for symptoms (chest pain, postural hypotension, tachycardia, congestive cardiac failure) 6</li>
                <li>
                    Patients with preexisting cardiovascular disease or acute coronary syndrome:
                    Transfuse if Hb < 80/g or for symptoms (chest pain, postural hypotension, tachycardia, congestive cardiac failure) <sup>4,6,7,9,10</sup>
                </li>
            </ol>
        </div>
    </div>
    <div class="card col-md-4 mb-4">
        <h2 class="card-header">Haemodynamically stable patient with severe sepsis or neurological injury</h2>
        <div class="card-body">
            <ol>
                <li>Early severe sepsis (6 hours from onset): Transfuse if Hb < 90 g/L 11</li>
                <li>Adult and paediatric patients, including in ICU: Transfuse if Hb < 70 g/L 4,5</li>
                <li>Patients with traumatic brain injury and evidence of cerebral ischaemia: Transfuse if Hb < 90 g/L 1</li>
                <li>Patients with subarachnoid haemorrhage: Transfuse if Hb < 80 g/L </li>
            </ol>
        </div>
    </div>
    <div class="card col-md-4 mb-4">
        <h2 class="card-header">Actively bleeding patient</h2>
        <div class="card-body">
            <ol>
                <li>Transfuse based on clinical assessment of the patient in additional to laboratory testing</li>
                <li>Patients with active upper gastrointestinal bleeding: Consider restrictive transfusion strategy (Hb < 70 g/L) 8 </li>
            </ol>
        </div>
    </div>
</div>
<div class="card col-md-12 mb-4">
    <h2 class="card-header">Pre-operative blood management</h2>
    <div class="card-body">
        <p>Anaemia is common among patients planned for elective surgery and has been associated with increased 
        post-operative mortality, morbidity, length of hospital stay and decreased quality of life. 
        There is also a higher risk for death and complications associated with anaemia in the presence of coronary artery disease.2 </p>
        <p>Correction of anaemia is an important line of overall management of the patient. 
        Efforts should always be made to correct anaemia through pharmacological means after identifying its cause, 
        as outlined in the principles of effective patient blood management: 
        1) Detect and treat pre-operative anaemia; 2) Reduce peri-operative blood loss; 
        3) Harness patient-specific physiological reserve of anaemia.</p>
        <p>There is no case for transfusion back to a normal haemoglobin level either before or after surgery, 
        and transfusion should be avoided when the haemoglobin is above 100 g/L.3 
        Three large randomized control trials conclusively showed a lack of benefit with liberal blood transfusion.4,5,6 
        Restrictive transfusion strategies were associated with improved mortality outcomes.</p>
    </div>
</div> 
<div class="card-group">
    <div class="card col-md-3 mb-4">
        <h2 class="card-header">
            TRICC 4
            (Transfusion requirement in critical care)
        </h2>
        <div class="card-body">
            <p>
                Stable, non-bleeding ICU patients
            </p>
            <p>
                Restrictive strategy (Hb 70 g/L) was as safe as a liberal strategy, except perhaps in patients with ischaemic heart disease.
            </p>
        </div>
    </div>
    <div class="card col-md-3 mb-4">
        <h2 class="card-header">
            TRIPICU 5
            (Transfusion strategies for patients in pediatric intensive care)
        </h2>
        <div class="card-body">
            <p>
                Stable, critically ill children in ICU
            </p>
            <p>
                Restrictive strategy (Hb 70 g/L) as compared to a liberal transfusion strategy showed no significant differences in adverse outcomes.
            </p>
        </div>
    </div>
    <div class="card col-md-6 mb-4">
        <h2 class="card-header">
            FOCUS 6
            (Transfusion trigger trial for functional outcomes in cardiovascular patients undergoing surgical hip fracture repair)
        </h2>
        <div class="card-body">
            <p>
                Patients undergoing major lower limb surgery – elective hip/knee athroplasty or hip fracture repair
            </p>
            <p>
                Restrictive strategy (symptoms of anaemia or at physician discretion for an Hb of 80 g/L) was safe even 
                in patients with history or risk factors for cardiovascular disease. 
                Overall, a restrictive transfusion strategy appears to be safe for majority of patients undergoing orthopaedic 
                lower limb surgery. However, in patients presenting with acute cardiac disease or any other organ dysfunction 
                (e.g. heart failure, sepsis), it may be sensible to adopt a less restrictive strategy aiming for an 
                Hb between 90 to 100 g/L.
            </p>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card col-md-3 mb-4">
        <h2 class="card-header">
            TRACS 7
            (Transfusion requirements after cardiac surgery)
        </h2>
        <div class="card-body">
            <p>
                Patients undergoing elective cardiac surgery
            </p>
            <p>
                Restrictive strategy (Hct < 24%, mean Hb 91g/L) was non-inferior to a liberal strategy (Hct > 30%, mean Hb 105 g/L)
                with regards to 30-day mortality and severe morbidity.
            </p>
        </div>
    </div>
    <div class="card col-md-3 mb-4">
        <h2 class="card-header">
            MINT 9
            (Myocardial ischaemia and transfusion)
        </h2>
        <div class="card-body">
            <p>
                Patients with acute myocardial ischaemia
            </p>
            <p>
                Liberal strategy (Hb  > 100 g/L) was associated with fewer major cardiac events and deaths than a restrictive
                strategy (transfuse if symptomatic or Hb < 80 g/L)
            </p>
        </div>
    </div>
    <div class="card col-md-3 mb-4">
        <h2 class="card-header">
            TITRe 10
            (Transfusion indication threshold reduction)
        </h2>
        <div class="card-body">
            <p>
                Patients undergoing elective cardiac surgery
            </p>
            <p>
                Patients randomized to a liberal transfusion threshold (Hb < 90 g/L) had less deaths compared to the
                restrictive transfusion threshold (Hb < 75 g/L). Restrictive transfusion was deemed non-superior to
                the liberal arm with regards to overall morbidity.
            </p>
        </div>
    </div>
    <div class="card col-md-3 mb-4">
        <h2 class="card-header">Villaneuva et al. 8</h2>
        <div class="card-body">
            <p>
                Patients presenting with acute severe upper GI bleed
            </p>
            <p>
                Restrictive strategy (Hb  < 70 g/L) was associated with significantly improved outcomes,
                including all-cause mortality as compared to liberal strategy (Hb < 90 g/L)
            </p>
        </div>
    </div>
</div>
<div class="card col-md-12 mb-4">
    <h2 class="card-header">Selected references</h2>
    <div class="card-body">
        <ol>
            <li>Napolitano LM, et al. Clinical practice guideline: red blood cell transfusion in adult trauma and critical care. Crit Care Med. 2009;37(12):3124-57. </li>
            <li>Carson JL, et al. Effect of anaemia and cardiovascular disease on surgical mortality and morbidity. Lancet. 1996;348(9034):1055-60</li>
            <li>Carson JL, et al. Transfusion thresholds and other strategies for guiding allogeneic red blood cell transfusion. Cochrane Database Syst Rev. 2012;(4):CD002042. </li>
            <li>Hébert PC, et al. A multicenter, randomized, controlled clinical trial of transfusion requirements in critical care. Transfusion Requirements in Critical Care Investigators, Canadian Critical Care Trials Group. N Engl J Med. 1999;340(6):409-17. </li>
            <li>Lacroix J, et al. Transfusion strategies for patients in pediatric intensive care units. N Engl J Med. 2007;356(16) 1609-19. </li>
            <li>Carson JL, et al. Liberal or restrictive transfusion in high-risk patients after hip surgery. N Engl J Med. 2011;365(26):2453-62. </li>
            <li>Hajjar LA, et al. Transfusion requirements after cardiac surgery: the TRACS randomized controlled trial. JAMA. 2010;304(14):1559-67. </li>
            <li>Villanueva C, et al. Transfusion strategies for acute upper gastrointestinal bleeding. N Engl J Med. 2013;368(1):11-21. </li>
            <li>Carson JL, et al. Liberal versus restrictive transfusion thresholds for patients with symptomatic coronary artery disease. Am Heart J. 2013;165(6):964-971</li>
            <li>Murphy GJ, et al. Liberal or restrictive transfusion after cardiac surgery. N Engl J Med. 2015;372(11):997-1008. </li>
            <li>Rivers E, et al. Early goal-directed therapy in the treatment of severe sepsis and septic shock. N Engl J Med. 2001;345(19):1368-77.</li>
        </ol>
    </div>
</div>




