
@{
    ViewBag.Title = "Guidelines for platelet transfusions";
    Layout = "~/Views/Shared/_Layout_Patient.cshtml";
}

    <!--Title card-->
<div class="card-group">
    <div class="col-md-4 mb-4">
        <div class="card h-100 bg-warning text-white">
            <img class="card-img" src="~/Content/images/platelet-transfusion-1.jpg" />
            <div class="card-body">
                <h1><b>Guidelines for platelet transfusions</b></h1>
            </div>
            <div class="card-footer">
                +
            </div>
        </div>
    </div>
    <!--Remember-->
    <div class="col-md-8 mb-4">
        <div class="card h-100 bg-info text-white">
            <div class="card-body">
                <h3 class="card-title"><b>Remember</b></h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item list-group-item-info">
                        Do not transfuse platelets where the cause of thrombocytopenia has been determined to be due to immune
                        destruction (ITP) or from uncontrolled microvascular thrombosis (TTP, HITS) unless in exceptional
                        circumstances with active bleeding.
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Always transfuse the appropriate dosage of platelets and frequency to achieve the expected outcome.
                    </li>
                    <li class="list-group-item list-group-item-info">
                        Need for prophylactic platelet transfusions should always be carefully considered in order to prevent 
                        unnecessary use and exposure of patients to alloantigens.
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                +
            </div>
        </div>
    </div>
</div>
<div class="card-group">
    <!--Information on process-->
    <div class="col-md-12 mb-4">
        <div class="card border-info">
            <div class="card-header border-info">
                Prophylactic platelet transfusions
            </div>
            <div class="card-body border-info">
                <div class="card-text">
                    <p>
                        Platelets can either be transfused prophylactically to minimise the risk of bleeding in a non-bleeding
                        patient with severe thrombocytopenia or therapeutically to control bleeding.
                        There is evidence to indicate that patients require only approximately 7.1 x 10<sup>9</sup>/L platelets per day to
                        maintain haemostasis. Bleeding is common in patients with therapy-induced  (e.g. chemotherapy, HSCT)
                        hypo-proliferative thrombocytopenia with the incidence higher among children.<sup>1</sup>
                    </p>
                    <p>
                        The bleeding can occur at any platelet range, However, the risk is significantly amplified at
                        platelet counts below 5 x 10<sup>9</sup>/L. Patients receiving prophylactic platelets have delayed onset of
                        bleeding and reduced days with bleeding although the frequency of bleeding episodes are not
                        significantly affected.<sup>2,3</sup>
                    </p> 
                    <p>
                        Several randomised control trials and systematic reviews have established
                        the clinical utility of prophylactic platelet transfusion in the severely thrombocytopenic patient.
                        Prophylactic platelet transfusions significantly reduce the risk for spontaneous WHO grade II or
                        greater bleeding.<sup>4,5</sup> Higher platelet count threshold for transfusion (10 x 10<sup>9</sup>/L 
                        vs. 20-30 x 10<sup>9</sup>/L) in patients with therapy-induced hypo-proliferative thrombocytopenia is not associated with lower
                        incidence of grade II or greater bleeding.<sup>6,7</sup> The 10 x 10<sup>9</sup>/L threshold is generally recognized as
                        clinically appropriate and is associated with lower platelet usage and fewer transfusion reactions.
                        Low dose platelets (2 x 10<sup>11</sup>), as used in this hospital is equally efficacious for haemostatic control
                        in this group of patients as compared to higher (3-6 x 10<sup>11</sup>) dose. <sup>2,8,9</sup>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-deck">
    <div class="card border-info col-md-4 mb-4">
        <h2 class="card-header border-info bg-transparent">Hospitalised patient with hypoproliferative thrombocytopenia secondary to therapy or marrow failure</h2>
        <div class="card-body">
            <ol>
                <li>Clinically stable, not bleeding, temperature < 38<sup>o</sup>C: Transfuse if < 10 x 10<sup>9</sup>/L <sup>4,5,10</sup></li>
                <li>Recent haemorrhage or temperature > 38<sup>o</sup>C: Transfuse if < 20 x 10<sup>9</sup>/L</li>
                <li>If patient is on heparin or has a coagulopathy: Transfuse if < 20 x 10<sup>9</sup>/L</li>
                <li>Patient is actively bleeding (WHO Grade II or more): Transfuse if < 50 x 10<sup>9</sup>/L</li>
            </ol>
        </div>
    </div>
    <div class="card border-info col-md-4 mb-4">
        <h2 class="card-header border-info bg-transparent">Patient undergoing an elective surgical procedure</h2>
        <div class="card-body">
            <ol>
                <li>Minor procedures (central venous line insertion, lumbar puncture): Transfuse if < 20 x 10<sup>9</sup>/L <sup>11</sup></li>
                <li>Neuraxial anaesthaesia: Transfuse if < 80 x 10<sup>9</sup>/L <sup>11</sup></li>
                <li>Major elective surgery (non-neurosurgical or ophthalmic): Transfuse if < 50 x 10<sup>9</sup>/L</li>
                <li>Neurosurgical or ophthalmic surgery: Transfuse if < 100 x 10<sup>9</sup>/L</li>
                <li>Cardiac surgery with cardiopulmonary bypass: Transfusion may be indicated in patients who develop 
                perioperative bleeding irrespective of platelet count <sup>12</sup></li>
            </ol>
        </div>
    </div>
    <div class="card border-info col-md-4 mb-4">
        <h2 class="card-header border-info bg-transparent">Actively bleeding patient</h2>
        <div class="card-body">
            <ol>
                <li>Disseminated intravascular coagulation (DIC): Transfuse platelets (target – 50 x 10<sup>9</sup>/L) as part of the 
                overall management, which shall include treating the precipitating process and correcting coagulation factor 
                deficiencies</li>
                <li>Massive haemorrhage: Transfuse platelets as part of a Massive Transfusion Protocol (MTP) </li>
            </ol>
        </div>
    </div>
</div>
<div class="card border-info col-md-12 mb-4">
    <h2 class="card-header border-info bg-info">Monitoring response to platelet transfusions</h2>
    <div class="card-body">
        <p>Repeated platelet transfusions may result in suboptimal response with poor recovery of platelets in circulation. 
            As a general rule, transfusion of 200 x 10<sup>9</sup> platelets (equivalent to one apheresis or four random platelet units) 
            to an adult (60 kg, BSA: 1.73 m2) should raise the platelet count by at least 25 x 10<sup>9</sup>/L. 
        </p>
        <p>
            The platelet count peaks at 10 minutes post-infusion and gradually declines over the next 72 hours.
            Platelet count increements should be measured within 24 hours of transfusion in patients who are transfused
            prophylactically. For actively bleeding patients, cessation of bleeding is likely a more important clinical
            endpoint than post-transfusion platelet count. If prophylactically transfused patients do not show an expected increment, 
            refractoriness to platelet transfusion should be suspected. 
            In most cases, the contributing cause is non-immune such as infection, splenomegaly, 
            GVHD and medications. In a proportion of patients, alloimmunisation may contribute to the refractoriness. 
            These patients usually demonstrate poor increments even at 10 minutes to 1-hour post-transfusion.
        </p>
    </div>
</div> 
<div class="card-group">
    <div class="card border-info col-md-6 mb-4">
        <h2 class="card-header border-info bg-transparent">
            TOPPS <sup>4</sup>
            (Trial of prophylactic vs. no prophylactic platelet transfusion)

        </h2>
        <div class="card-body">
            <p>
                Patients randomized to receive or not receive prophylactic platelet transfusions when morning platelet 
                counts < 10 x 10<sup>9</sup>/L
            </p>
            <p>
                Patients in the no-prophylaxis group had more days of bleeding and shorter time to first bleeding episode 
                as compared to the prophylaxis group. Higher trend for WHO grade II or greater bleeding also noted in the 
                no-prophylaxis group (p=0.06 for non-inferiority).
            </p>
        </div>
    </div>
    <div class="card border-info col-md-6 mb-4">
        <h2 class="card-header border-info bg-transparent">
            Wandt H., et al. <sup>5</sup>
            (Therapeutic platelet transfusion vs. routine prophylactic transfusion)

        </h2>
        <div class="card-body">
            <p>
                Patients undergoing autologous HSCT or intensive chemotherapy for acute myeloid leukemia, randomized to 
                receive either platelet transfusions when bleeding occurred (therapeutic strategy) or when platelet 
                counts < 10 x 109/L  (prophylactic strategy)
            </p>
            <p>
                The therapeutic arm showed no increased risk of major haemorrhage in patients who had autologous HSCT but 
                increased risk of non-fatal grade IV haemorrhage (mostly CNS) was noted in those with AML.
            </p>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card border-info col-md-6 mb-4">
        <h2 class="card-header border-info bg-transparent">
            SToP <sup>9</sup>
            (Standard and low-dose strategies for transfusion of platelets)

        </h2>
        <div class="card-body">
            <p>
                Thrombocytopenic adults requiring prophylactic platelet transfusions randomized to receive 
                low-dose (1.5 - 3.0 x 10<sup>11</sup>) or standard-dose (3.0 – 6.0 x 10<sup>11</sup>) platelets
            </p>
            <p>
                Risk of WHO grade II or higher bleeding was not significantly increased in the low-dose as compared to 
                standard dose arm (RR: 0.737-1.502). A higher rate of grade IV bleeding in patients receiving low-dose 
                platelets however resulted in the termination of the trial. It was uncertain if this finding was due to 
                chance or represented a real difference.
            </p>
        </div>
    </div>
    <div class="card border-info col-md-6 mb-4">
        <h2 class="card-header border-info bg-transparent">
            PLADO <sup>8</sup>
            (Effects of prophylactic platelet dose on transfusion outcomes)

        </h2>
        <div class="card-body">
            <p>
                Patients with hypoproliferative thrombocytopenia and morning platelet counts less than10 x 10<sup>9</sup>/L, 
                randomized to receive low, medium or high-dose (1.1, 2.2, 4.4 x 10<sup>11</sup>/m<sup>2</sup> BSA) platelet transfusions.
            </p>
            <p>
                No difference in the rate of WHO grade II or higher bleeding among the three arms. 
                The incidence of higher grades of bleeding and other adverse events were also similar. 
                Low-dose prophylactic platelet transfusions led to decreased number of platelets transfused 
                per patient but an increased frequency of transfusion. Total bleeding days was higher when 
                morning counts were  less than 5 x 10<sup>9</sup>/L as compared to when they were 6 - 80 x 10<sup>9</sup>/L.
            </p>
        </div>
    </div>
</div>
<div class="card border-info col-md-12 mb-4">
    <h2 class="card-header border-info bg-transparent">Selected references</h2>
    <div class="card-body">
        <ol>
            <li>Josephson CD, et al. Bleeding risks are higher in children versus adults given prophylactic platelet transfusions for treatment-induced hypoproliferative thrombocytopenia. Blood. 2012;26;120(4):748-60.</li>
            <li>Estcourt LJ, et al. Different doses of prophylactic platelet transfusion for preventing bleeding in people with haematological disorders after myelosuppressive chemotherapy or stem cell transplantation. Cochrane Database Syst Rev. 2015;27;(10):CD010984.</li>
            <li>Crighton GL, et al. A therapeutic-only versus prophylactic platelet transfusion strategy for preventing bleeding in patients with haematological disorders after myelosuppressive chemotherapy or stem cell transplantation. Cochrane Database Syst Rev. 2015;30;(9):CD010981. </li>
            <li>Stanworth SJ, et al. A no-prophylaxis platelet-transfusion strategy for hematologic cancers. N Engl J Med. 2013;9;368(19):1771-80.</li>
            <li>Wandt H, et al. Therapeutic platelet transfusion versus routine prophylactic transfusion in patients with haematological malignancies: an open-label, multicentre, randomised study. Lancet. 2012;13;380(9850):1309-16. </li>
            <li>Slichter SJ. Relationship between platelet count and bleeding risk in thrombocytopenic patients. Transfus Med Rev. 2004;18(3):153-67. </li>
            <li>Rebulla P, et al. The threshold for prophylactic platelet transfusions in adults with acute myeloid leukemia. N Engl J Med. 1997;25;337(26):1870-5.</li>
            <li>Slichter SJ, et al. Dose of prophylactic platelet transfusions and prevention of hemorrhage. N Engl J Med. 2010;18;362(7):600-13. </li>
            <li>Heddle NM, et al. A randomized controlled trial comparing standard- and low-dose strategies for transfusion of platelets (SToP) to patients with thrombocytopenia. Blood. 2009;12;113(7):1564-73. </li>
            <li>Stanworth SJ, et al. Impact of prophylactic platelet transfusions on bleeding events in patients with hematologic malignancies: a subgroup analysis of a randomized trial. Transfusion. 2014;54(10):2385-93. </li>
            <li>van Veen JJ, et al. The risk of spinal haematoma following neuraxial anaesthesia or lumbar puncture in thrombocytopenic individuals. Br J Haematol. 2010;148(1):15-25. </li>
            <li>Whitlock R, et al. Bleeding in cardiac surgery: its prevention and treatment--an evidence-based review. Crit Care Clin. 2005;21(3):589-610. </li>
        </ol>
    </div>
</div>




