@model BloodLineV2.Models.ProductInfoModel

@{
    ViewBag.Title = "Blood Product Information";
    Layout = "~/Views/Shared/_Layout_Patient.cshtml";
}

<div class="row row-cols-1 row-cols-sm-1">
    <div class="col mb-4">
        <div class="card h-100 bg-warning text-white">
            <img class="card-img" src="~/Content/images/rcwb-1.jpg" />
            <div class="card-body">
                <h1><b>RCWB</b></h1>
                <h6>Whole Blood</h6>
            </div>
            <div class="card-footer">
                +
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100 bg-warning text-white">
            <div class="card-body">
                <h4 class="card-title">Storage: 4(+-2) oC</h4>
                <h4 class="card-title">Shelf life: 21-35 days</h4>
                <h6 class="card-text">
                    Units should not be exposed to temperatures exceeding 10C for more than 30 minutes. Red cells
                    stored or transported under suboptimal temperatures undergo haemolysis and be conducive for
                    bacterial growth and therefore may not be suitable for transfusion.
                </h6>
            </div>
            <div class="card-footer">
                +
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100 bg-info text-white">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <h4 class="card-title"></h4>
                <h6 class="card-text">
                    Contains unseparated red blood cells from blood donors, suspended in anticoagulant solution (CPD/CPDA-1).
                    Whole blood does not contain viable platelets or coagulation factors.
                    Final average haematocrit is 38% in total volume of 350 - 400 mls.
                </h6>
            </div>
            <div class="card-footer">
                +
            </div>
        </div>
    </div>
    <div class="col-md-12  mb-4">
        <div class="card h-100 bg-light text-black-50">
            <div class="card-header">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#indications">Indications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#contraindications">Contraindications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#dosage">Dosage</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="indications">
                            <ul class="list-group list-group-mine">
                                <li class="list-group-item">
                                    Critical deficit of oxygen carrying capacity in a bleeding patient
                                </li>
                                <li class="list-group-item">
                                    Red cell exchange
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="contraindications">
                            <div class="alert alert-info">
                                Use with caution in patients with cardiac failure or with risk of fluid overload, 
                                as the large volume of the product poses risk of transfusion-associated cardiac overload (TACO).
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="dosage">
                            <div class="alert alert-info">
                                Number of units transfused is dependant on degree of red cell loss as result of acute bleeding.
                                Suggested volume for neonatal red cell exchange is 160 ml/kg.  Refer to info-sheet RCWB-ET for 
                                additional required information.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                +
            </div>
        </div>
    </div>
    <div class="card-group">
        
        <div class="col-md-9 mb-4">
            <div class="card-header">
                <h2>Pre-transfusion testing requirements</h2>
            </div>
            <div class="card-body">
                <h6 class="card-text">
                    All patients planned for red cells transfusions must have a correct ABO and RhD type on record.
                    Transfused red cells must be ABO compatible to the patient at all times.
                    RhD- patients should always be transfused RhD- blood unless in emergency situations or in post-menopausal females and elderly males.
                    A valid antibody screen to identify the presence of atypical antibodies capable of causing haemolytic transfusion reaction or reducing
                    survival of the transfused red cells should be performed and if antibodies are identified, antigen negative red cells will need to be issued.
                </h6>
            </div>
            <div class="card-footer">
                <h4>Minimum sample requirements</h4>
                <table class="table w-auto text-sm-left table-striped">
                    <thead class="thead-dark">
                        <tr class="d-flex">
                            <th class="col-3">Age group</th>
                            <th class="col-9">Sample requirements</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-flex">
                            <td class="col-3">Adult</td>
                            <td class="col-9">3 ml in one EDTA tube</td>
                        </tr>
                        <tr class="d-flex">
                            <td class="col-3">Child (> 12 months)</td>
                            <td class="col-9">3 ml in one EDTA tube</td>
                        </tr>
                        <tr class="d-flex">
                            <td class="col-3">Infant (4 - 12 months)</td>
                            <td class="col-9">1 ml each in two microtainer EDTA tubes</td>
                        </tr>
                        <tr class="d-flex">
                            <td class="col-3">Infant (0 - 4 months)</td>
                            <td class="col-9">
                                1 ml in one microtainer EDTA tubes + 3 ml of biological mother's
                                sample in one EDTA tube, on first transfusion. No further testing required for
                                subsequent transfusions if no atypical maternal antibodies identified.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card h-100 bg-info text-white">
                <div class="card-body">
                    <h4 class="card-title">Modifications</h4>
                    <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item list-group-item-action">Leucodepleted</a>
                        <a href="#" class="list-group-item list-group-item-action">Irradiated</a>
                    </div>
                    <h6 class="card-text"></h6>
                </div>
                <div class="card-footer">
                    Refer to relevant info-sheets for information regarding above secondary modifications
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card bg-warning text-white">
            <div class="card-body">
                <h4 class="card-title">Administration</h4>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-danger">Use standard blood transfusion set (170-260 um) and change every 8 hours</li>
                    <li class="list-group-item list-group-item-danger">Rate of WB transfusions should be adjusted according to clinical condition and rate of blood loss</li>
                    <li class="list-group-item list-group-item-danger">Transfusion must not exceed 4 hours</li>
                </ul>
            </div>
            <img class="card-img-bottom" src="~/Content/images/blood transfusion.jpg" />
            <div class="card-footer">
                +
            </div>
        </div>
    </div>
    <div class="col-md-9 mb-4">
        <div class="card h-100 bg-light text-black-50">
            <div class="card-header"><h2>Nursing observations</h2></div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-2" rowspan="2"></th>
                            <th class="col-2" rowspan="2">Pre-transfusion vital signs?</th>
                            <th class="col-3" colspan="3">Stay at patient bedside?</th>
                            <th class="col-3" colspan="2">Vital signs during transfusion</th>
                            <th class="col-2" rowspan="2">Post-transfusion monitoring</th>
                        </tr>
                        <tr>
                            <th class="col-1">First 5 minutes</th>
                            <th class="col-1">5-10 minutes</th>
                            <th class="col-1">10-15 minutes</th>
                            <th class="col-1">After 15 minutes</th>
                            <th class="col-1">Remainder of transfusion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Adults (in-patient)</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td colspan="2">No, but must be immediately available</td>
                            <td>Yes</td>
                            <td>Every 15 minutes for first hour, then hourly</td>
                            <td>Vital signs on completion then monitor as needed</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                Refer to relevant info-sheets for information regarding above secondary modifications
            </div>
        </div>
    </div>
    <div class="col-md-12 mb-4">
        <div class="card">
            <div class="card-header">
                <h2>Adverse reactions</h2>
            </div>
            <div class="card-body">
                <h6 class="card-text">
                    All units are tested negative by serology and nucleic acid technology for HBV, HCV and HIV I/II.
                    Nonetheless, there is a remote risk of transfusion-transmitted infections if the donated unit happens to be
                    within a window period of testing.
                    There is also a small risk of infection by bacteria or from non-tested viruses (e.g. CMV) or emerging infections.
                    Non-infectious risks include febrile non-haemolytic transfusion reactions (FNHTR), haemolytic transfusion reactions
                    (HTR), either immediate or delayed, allergic reactions, transfusion related acute lung injury (TRALI), transfusion
                    associated cardiac overload (TACO) and transfusion associated graft versus host disease (TA-GVHD).
                </h6>
            </div>
        </div>
    </div>
    
    
</div>

