
@using BloodLineV2.Models;

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Quantity</th>
                <th>Code</th>
                <th>Product Name</th>
            </tr>
        </thead>
        <tbody>

            @foreach (ProductInfo bloodProduct in ViewBag.ProductInfo)
            {
                if (bloodProduct.Id.Substring(0, 3).Contains("HLA"))
                {
            <tr>
                <td>
                    @Html.Editor(bloodProduct.Id, new {
                   htmlAttributes = new { @Name = "HL", onchange = "showIndication('HL')", type = "number", min = "0", max = "6", @Value = "0", @class = "form-control" }
               })
                </td>
                <td>
                    @bloodProduct.Id
                </td>
                <td>
                    @bloodProduct.Name
                    @if (bloodProduct.Filelocation != "none")
                    {
                        <a href="@bloodProduct.Filelocation" target="_blank">
                            <sup><i class="fa fa-info"></i></sup>
                        </a>
                    }
                    @if (bloodProduct.Irradiate == 1)
                    {
                        <i class="fa fa-radiation"></i>
                    }
                    @if (bloodProduct.Leucodeplete == 1)
                    {
                        <i class="fa fa-filter"></i>
                    }
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>
<div id="HL" style="display:none">
    <h6>
       Please provide the most appropriate indication for the HLA-compatible platelet request. Note that all requests 
       for HLA-compatible platelets requires consultation with the transfusion medicine specialist. The initial request 
       must be accompanied by a completed 'HLA Antibody and Compatible Platelet Request Form'.  
        
    </h6>
    <div class="w3-container w3-white">
        <table class="table">
            <tr>
                <td><input type="radio" name="platelet" value="PL1" /></td>
                <td>
                    Prophylactic transfusion to prevent spontaneous bleeding in a stable patient with
                    platelet count &#8804 10 x 10<sup>9</sup>/L.
                </td>
            </tr>
            <tr>
                <td><input type="radio" name="platelet" value="PL2" /></td>
                <td>
                    Prophylactic transfusion to prevent spontaneous bleeding in patient with
                    consumptive state (e.g. high fever, sepsis, DIC, splenomegaly) and platelet count &#8804 20 x 10<sup>9</sup>/L
                </td>
            </tr>
            <tr>
                <td><input type="radio" name="platelet" value="PL3" /></td>
                <td>Active bleeding or pre-procedure with platelet count &#8804 50 x 10<sup>9</sup>/L.</td>
            </tr>
            <tr>
                <td><input type="radio" name="platelet" value="PL4" /></td>
                <td>
                    Active bleeding or pre-procedure involving an enclosed space
                    (e.g. intracranial, opthalmic) with platelet count &#8804 100 x 10<sup>9</sup>/L.
                </td>
            </tr>
            <tr>
                <td><input type="radio" name="platelet" value="PL5" /></td>
                <td>
                    Pre-procedure or bleeding patient who has taken a recent dose of anti-platelet medications,
                    or with documented platelet dysfunction.
                </td>
            </tr>
            <tr>
                <td><input type="radio" name="platelet" value="PL6" /></td>
                <td>
                    Other.
                </td>
            </tr>
        </table>
    </div>
</div>